attrs==25.3.0
awkward==2.6.10
awkward_cpp==40
contourpy==1.1.1
cramjam==2.9.1
cycler==0.12.1
fonttools==4.56.0
fsspec==2025.3.0
h5py==3.11.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
jetscape_analysis @ file:///jetscapeOpt/jetscape-analysis
kiwisolver==1.4.7
llvmlite==0.41.1
matplotlib==3.7.5
numba==0.58.1
numpy==1.24.4
packaging==24.2
pandas==2.0.3
pillow==10.4.0
pkg_resources==0.0.0
pyarrow==17.0.0
pyhepmc==2.13.4
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
six==1.17.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
uproot==5.4.2
xxhash==3.5.0
zipp==3.20.2
