#------------------------------------------------------------------
# We group observables into blocks according to type of observable
# for convenience, e.g. {type}: {observable}_{experiment}
#
# For each observable, we include its specific cuts in its block
#
# In the analysis code, we will store observables in a dictionary,
# labeled as: {type}_{observable}_{experiment}_{suffix}
# For example: hadron_pt_cms
#              jet_mass_alice_R0.2
# where the optional suffix is only present when needed.
#
# We compute each observable only if it lies in the specified centrality range.
# We include all available centralities up to 50% centrality, at present.
#
# We include hepdata file paths when appropriate (relative to JETSCAPE-analysis directory),
# to be used for histogram binning (via hepdata histogram) and plotting (via hepdata tgraph).
#   - Note that the pp hepdata files contain distributions, while the AA hepdata files contain RAA ratios.
#   - Note that we bin pp observables according to the binning in each AA centrality;
#     the pp hepdata tgraphs are included only for QA.
#
# The histogram binnings are determined from: plot_results_STAT_utils.bins_from_config()
#   - The hepdata_AA dir/hname fields need to have either:
#     (i) list of dirs, with single hname
#     (ii) list of hnames, with single dir
#     where the list corresponds to the centrality list in the config block.
#   - The AA binnings are always used, since we ultimately want to form PbPb/pp ratios
#
# The data TGraphs are determined from: plot_results_STAT_utils.tgraph_from_hepdata()
#   - For pp: The hepdata_pp dir/gname should have only a single entry for dir/gname -- not a list.
#             Unless on rare occasion the pp data with different binnings for each centrality
#             are available (e.g. 5.02 TeV inclusive_jet_pt_cms)
#   - For AA: The hepdata_AA dir/gname should follow the same list convention as the dir/hname specified above.
#
# Note that for the inputs to the likelihood calculation, we use the Pb-Pb/pp ratios, rather
# than the Pb-Pb and pp distributions themselves. This choice is intended to minimize dependence
# on the pp baseline, although may be susceptible to shape effects from the distributions themselves;
# one could consider to investigate the magnitude of these effects in the future.
#
# Note that when using these experimental data for the Bayesian calibration, we need to
# revisit the treatment/breakdown of uncertainties and construct a covariance matrix
# for each measurement (close attention was not paid during the event generation QA stage).
#
# Jan 2022: All kinematics/settings checked by Peter Jacobs -- all are validated unless
#           noted otherwise.
#------------------------------------------------------------------

# Settings for outlier rejection
do_event_outlier_rejection: false
outlier_jet_R: 0.4
outlier_pt_hat_cut: 3. # pt_jet > outlier_pt_hat_cut * pt_hat is an outlier

sqrt_s: 200
power: 4.
pt_ref: 10.

# General jet finding parameters
jet_R: [0.2, 0.4, 0.5]
min_jet_pt: 10.
max_jet_y: 3.

# If AA, set different options for hole subtraction treatment
# If pp, defaults will override this: ['']
jet_collection_labels: ['_shower_recoil', '_negative_recombiner', '_constituent_subtraction']

# Constituent subtractor, for hole treatment
constituent_subtractor:
  R_max: 0.25
  max_eta: 3.
  ghost_area: 0.01
  bge_rho_grid_size: 1.
thermal_rejection_fraction: 0.33
#------------------------------------------------------------------
#------------------------------------------------------------------
# Hadron spectra
# Unless otherwise noted: Primary charged particles (w/ mean proper lifetime Ï„ larger than 1 cm/c )
hadron:

  # https://inspirehep.net/literature/1127262
  # Fig 11
  pt_pi0_phenix:
    eta_cut: 0.35
    pt: [5., 20.]
    centrality: [[0,10], [10,20], [20,30], [30,40], [40,50]]
    xtitle: '#it{p}_{T} (GeV/#it{c})'
    logy: True

    hepdata: 'HEPData-ins1127262-v2-root.root'
    ytitle_pp: '#frac{1}{2#pip_{T}} #frac{d^{2}#it{#sigma}}{d#it{p}_{T}d#it{#eta}} #left[mb GeV^{2}#right]'
    y_min_pp: 2e-12
    y_max_pp: 1e-4
    scale_by: '1/pt'
    skip_pp: True

    hepdata_AA_dir: 'Figure 11'
    hepdata_AA_gname: ['Graph1D_y1', 'Graph1D_y2', 'Graph1D_y3', 'Graph1D_y4', 'Graph1D_y5']
    hepdata_AA_hname: ['Hist1D_y1', 'Hist1D_y2', 'Hist1D_y3', 'Hist1D_y4', 'Hist1D_y5']
    ytitle_AA: '#it{R}_{AA}'
    y_min_AA: 0.
    y_max_AA: 2.

    hepdata_Ion_dir: 'Figure 5'
    hepdata_Ion_gname: ['Graph1D_y1', 'Graph1D_y2', 'Graph1D_y3', 'Graph1D_y4', 'Graph1D_y5']
    hepdata_Ion_hname: ['Hist1D_y1', 'Hist1D_y2', 'Hist1D_y3', 'Hist1D_y4', 'Hist1D_y5']
    ytitle_Ion: '#frac{1}{2#pip_{T}} #frac{d^{2}#it{#sigma}}{d#it{p}_{T}d#it{#eta}} #left[mb GeV^{2}#right]'
    y_min_Ion: 2e-10
    y_max_Ion: 2e2

  # https://www.hepdata.net/record/ins619063
  # Summed yields of pi+-, K+-, p, anti-p
  pt_ch_star:
    eta_cut: 0.5
    pt: [5., 12.]
    centrality: [[0,5], [10,20], [20,30], [30,40]]
    xtitle: '#it{p}_{T} (GeV/#it{c})'
    logy: True

    hepdata: 'HEPData-ins619063-v1-root.root'
    hepdata_pp_dir: 'Table 1'
    hepdata_pp_gname: 'Graph1D_y8'
    ytitle_pp: 'E #frac{d^{3}#it{#sigma}_{ch}}{d^{3}#it{p}} #left[b GeV^{-2}c^{3}#right]'
    y_min_pp: 2e-10
    y_max_pp: 2e2
    scale_by: '1/pt'

    hepdata_AA_dir: 'Table 3'
    hepdata_AA_gname: ['Graph1D_y1', 'Graph1D_y2', 'Graph1D_y3', 'Graph1D_y4']
    hepdata_AA_hname: ['Hist1D_y1', 'Hist1D_y2', 'Hist1D_y3', 'Hist1D_y4']
    ytitle_AA: '#it{R}_{AA}'

    hepdata_Ion_dir: 'Table 1'
    hepdata_Ion_gname: ['Graph1D_y1', 'Graph1D_y2', 'Graph1D_y3', 'Graph1D_y4']
    hepdata_Ion_hname: ['Hist1D_y1', 'Hist1D_y2', 'Hist1D_y3', 'Hist1D_y4']
    ytitle_Ion: 'E #frac{d^{3}#it{#sigma}_{ch}}{d^{3}#it{p}} #left[b GeV^{-2}c^{3}#right]'
    y_min_Ion: 2e-10
    y_max_Ion: 2e2

#------------------------------------------------------------------
#------------------------------------------------------------------
# Hadron correlations
hadron_correlations:

  # https://www.hepdata.net/record/ins715470
  # Di-hadron correlations -- delta-phi and D(z)
  # See Fig 3 here: https://arxiv.org/pdf/nucl-th/0701045.pdf
  # pmj 13/1/22: incomplete. This is a key RHIC paper imho (based on the analysis of Xin-Nian et al., which formed the basis of a lot of developments)
  dihadron_star:
    eta_cut: 1.0
    pt_trig: [[8., 15.]]
    pt_assoc: [[4, 6], [6, -1]]
    # Yield range are defined relative to 0 and pi
    # NOTE: The paper says 0.63, but I (RE) strongly suspect they're rounding from 0.628.
    #       If we use 0.63, ROOT will include the full next bin, which is for sure too much.
    yield_range: [-0.62, 0.62]
    # They appear to have 40 bins between [-pi/2, 3pi/2], so generated with `np.linspace(-np.pi/2, 3*np.pi/2, 41)`
    dphi_bins: [-1.5707963267948966, -1.413716694115407, -1.2566370614359172, -1.0995574287564276, -0.9424777960769379, -0.7853981633974483, -0.6283185307179586, -0.47123889803846897, -0.3141592653589793, -0.15707963267948966, 0.0, 0.15707963267948966, 0.3141592653589793, 0.47123889803846897, 0.6283185307179586, 0.7853981633974483, 0.9424777960769379, 1.0995574287564276, 1.2566370614359172, 1.413716694115407, 1.5707963267948966, 1.7278759594743862, 1.8849555921538759, 2.0420352248333655, 2.199114857512855, 2.356194490192345, 2.5132741228718345, 2.670353755551324, 2.827433388230814, 2.9845130209103035, 3.141592653589793, 3.2986722862692828, 3.4557519189487724, 3.612831551628262, 3.7699111843077517, 3.9269908169872414, 4.084070449666731, 4.241150082346221, 4.39822971502571, 4.5553093477052, 4.71238898038469]
    # NOTE: Need to convert from N_part to centrality, which is available in Table 2 in https://inspirehep.net/literature/588808
    # NOTE: They also report 40-60%, but that goes outside of our centrality range, so we skip it here
    centrality: [[0,5], [5, 10], [10, 20], [20, 30], [30, 40]]
    # The yield bins are based on a centrality index since plotting as properly labeled centrality isn't
    # worth the additional complexity. The first five bins are the near side, while the latter five are the away side.
    yield_bins: [0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.]
    xtitle: "Centrality bin index"

    custom_data: 'custom_data.yaml'
    # We default to enabling skip_pp. In this case, we draw the deltaPhi correlations.
    # If skip_pp is set to false, it will extract the yields and plot them.
    # In the case of AA, we always extract and draw the yields
    # NOTE: The delta phi correlations are always available in the histograms from the skim
    # NOTE: The xtitle is wrong in the case where we draw the deltaPhi correlations. One can tell
    #       by looking at the x range: [-pi/2, 3pi/2] is the correlations, which 0-10 is the yields.
    skip_pp: True
    # These ranges are more appropriate for the delta phi correlations
    y_min_pp: 0.01
    y_max_pp: 0.2
    logy_pp: False
    # Whereas these are more appropriate for the yields
    y_min_AA: 0.01
    y_max_AA: 0.6
    logy: True

  # https://inspirehep.net/literature/1798493
  # https://www.hepdata.net/record/ins1798493
  # The observable is calculated as a function of zeta
  # Multiple choice of the integration over d_phi are provided, the one with |d_phi| between pi/2 and pi is implemented in yaml
  # Direct photon selected by subtracting pi_zero from total
  # Not sure if it is unfolded or not
  IAA_phenix:
    eta_cut_R: 1.
    pt: [5., 7.]
    centrality: [[0,40]]
    hadron_eta_cut: 0.35
    trigger_range: [5., 9.]
    xtitle: '#zeta'
    logy: True

    ytitle_pp: 'I_{AA}'
    skip_pp: True

    hepdata: 'HEPData-ins1512115-v1-root.root'
    hepdata_AA_dir: 'Figure 4b'
    hepdata_AA_gname: ['Graph1D_y1']
    hepdata_AA_hname: ['Hist1D_y1']
    ytitle_AA: 'I_{AA}'


#------------------------------------------------------------------
#------------------------------------------------------------------
# Inclusive jet observables -- charged jets
inclusive_chjet:

  # https://www.hepdata.net/record/ins1798665
  # Charged jet RAA and RCP
  # Cuts:
  #   - pT^{ch lead} > 5 GeV
  pt_star:
    jet_R: [0.2, 0.3, 0.4]
    eta_cut_R: 1.0
    pt: [5., 30]
    centrality: [[0,10]]
    xtitle: '#it{p}_{T} (GeV/#it{c})'
    logy: True

    ytitle_pp: '#frac{d^{2}#sigma}{d#it{p}_{T}d#it{#eta}} #left[b/(GeV/c)^{-1}#right'
    y_min_pp: 2e-8
    y_max_pp: 1e-1
    skip_pp: True

    hepdata: 'HEPData-ins1798665-v1-root.root'
    hepdata_AA_dir: 'Table 10'
    hepdata_AA_dir_R0.2: 'Table 10'
    hepdata_AA_dir_R0.3: 'Table 10'
    hepdata_AA_dir_R0.4: 'Table 10'
    hepdata_AA_gname_R0.2: ['Graph1D_y1']
    hepdata_AA_hname_R0.2: ['Hist1D_y1']
    hepdata_AA_gname_R0.3: ['Graph1D_y2']
    hepdata_AA_hname_R0.3: ['Hist1D_y2']
    hepdata_AA_gname_R0.4: ['Graph1D_y3']
    hepdata_AA_hname_R0.4: ['Hist1D_y3']
    ytitle_AA: '#it{R}_{AA}'
    y_min_AA: 0.
    y_max_AA: 2.

    hepdata_Ion_dir: 'Table 1'
    hepdata_Ion_gname_R0.2: ['Graph1D_y1']
    hepdata_Ion_hname_R0.2: ['Hist1D_y1']
    hepdata_Ion_gname_R0.3: ['Graph1D_y2']
    hepdata_Ion_hname_R0.3: ['Hist1D_y2']
    hepdata_Ion_gname_R0.4: ['Graph1D_y3']
    hepdata_Ion_hname_R0.4: ['Hist1D_y3']
    ytitle_Ion: '#frac{d^{2}#sigma}{d#it{p}_{T}d#it{#eta}} #left[b/(GeV/c)^{-1}#right]'
    y_min_Ion: 2e-8
    y_max_Ion: 1e-1
#------------------------------------------------------------------
# Jet correlation observables
semi_inclusive_chjet:

  # https://www.hepdata.net/record/ins1512115
  # Note: no pp reference -- RCP and R02/R05 -- we include only R02/R05 for now
  # pmj 13/1/22: QA OK other than issues with hepdata that you identify.
  # pmj 13/1/22: Please formulate your questions about the hepdata entries and I will send them to Alex (I thought they had been fixed ;-( )
  IAA_star:
    jet_R: [0.2, 0.5]
    eta_cut_R: 1.
    pt: [5., 30.]
    centrality: [[0,10]]
    hadron_eta_cut: 0.9
    trigger_range: [9., 30.]
    xtitle: '#it{p}_{T} (GeV/#it{c})'
    logy: True

    ytitle_pp: 'I_{AA}'
    y_min_pp: 2e-5
    y_max_pp: 2.
    skip_pp: True

    hepdata: 'HEPData-ins1512115-v1-root.root'
    hepdata_AA_dir: 'Table 38'
    hepdata_AA_dir_R02_R05: 'Table 38'
    hepdata_AA_gname: ['Graph1D_y1']
    hepdata_AA_hname: ['Hist1D_y1']
    ytitle_AA: '#it{R}_{AA}'

  # The bin width is constant at 0.1256.  For the most left two data points, there are really missing in HEP
  # PMJ 1/21/25: data points not recoverable without some effort. 
  # Since this dataset has been superceded in quality by a more recent STAR publication I judge this not to worth the trouble.
  dphi_star:
    jet_R: [0.3]
    eta_cut_R: 1.
    pt: [9., 13.]
    centrality: [[0,10]]
    hadron_eta_cut: 0.9
    trigger_range: [9., 30.]
    xtitle: '#it{p}_{T} (GeV/#it{c})'
    logy: True

    hepdata: 'HEPData-ins1512115-v1-root.root'
    hepdata_pp_dir:  'Table 42'
    hepdata_pp_gname: 'Graph1D_y1'
    ytitle_pp: '#Phi(#Delta#it{#varphi})'
    y_min_pp: 0.
    y_max_pp: 1.

    bins: [1.57079633, 1.69646003, 1.82212374, 1.94778745, 2.07345115,
       2.19911486, 2.32477856, 2.45044227, 2.57610598, 2.70176968,
       2.82743339, 2.95309709, 3.0787608 , 3.20442451, 3.33008821,
       3.45575192, 3.58141563, 3.70707933, 3.83274304, 3.95840674,
       4.08407045, 4.20973416, 4.33539786, 4.46106157, 4.58672527,
       4.71238898]
    hepdata_AA_dir: 'Table 39'
    hepdata_AA_gname: ['Graph1D_y1']
    hepdata_AA_hname: ['Hist1D_y1']
    ytitle_AA: '#it{R}_{AA}'
    y_min_AA: 0.
    y_max_AA: 2.

#------------------------------------------------------------------
# Jet correlation observables
semi_inclusive_pizerojet:

  # pmj 1/23/25 PRL (accepted): https://inspirehep.net/literature/2693040
  # pmj 1/23/25 PRC (in journal review): https://inspirehep.net/literature/2693062
  # Note unusual centrality bin [0,15]; can use [0,10] for this simulation if [0,15] is difficult to accomodate

  # pmj 2/28/25: HEPData tables not yet available. Data for Fig 1 and 2 in PRL can be found here: 
  # https://www.dropbox.com/scl/fo/pw7kr4hb883a61zzsfbxf/ABjRhjM0X3Yae4bH7Hu6tww?rlkey=0d0b9asqhg3w1ru5you9tqcbn&dl=0
  IAA_star:
    jet_R: [0.2, 0.5]
    eta_cut_R: [0.8, 0.5] # equivalent to 1-R
    pt: [5., 25.]
    centrality: [[0,15]]
    pizero_eta_cut: 1.0
    trigger_range: [11., 15.]
    xtitle: '#it{p}_{T} (GeV/#it{c})'
    logy: True

    ytitle_pp: 'I_{AA}'
    y_min_pp: 0.1
    y_max_pp: 1.2
    skip_pp: True

    hepdata: "TODO: see above link"

  # pmj 1/21/25: this observable is the ratio of two spectra with different R, so "jet_R:" has a different meaning.
  # maybe define a different field?
  R25_star:
    jet_R: [0.2, 0.5]
    eta_cut_R: [0.8, 0.5] # equivalent to 1-R
    pt: [11., 15.]
    centrality: [[0,15]]
    pizero_eta_cut: 1.0
    # pmj 1/23/25: per discussionn at today's STAT meeting, the experimental trigger selection is based on ET at the detector level, whereas
    # the simulation is based on ET at the particle level. The PRC Section 9 gives a matrix which maps between the two, effectively providing a weight
    # as a function of ET_part. Here I specify both the experimental window ("det" level) and the larger simulation window ("part" level) needed to cover 
    # it with the experimentally specified weighting
    trigger_range_det: [11., 15.]
    trigger_range_part: [9., 22.]
    xtitle: '#it{p}_{T} (GeV/#it{c})'
    logy: True

    hepdata: "TODO: see above link"

#------------------------------------------------------------------
# Jet correlation observables
semi_inclusive_gammajet:

  # pmj 1/23/25 PRL (accepted): https://inspirehep.net/literature/2693040
  # pmj 1/23/25 PRC (in journal review): https://inspirehep.net/literature/2693062
  # Note unusual centrality bin [0,15]; can use [0,10] for this simulation if [0,15] is difficult to accomodate

  # pmj 2/28/25: HEPData tables not yet available. Data for Fig 1 and 2 in PRL can be found here:
  # https://www.dropbox.com/scl/fo/pw7kr4hb883a61zzsfbxf/ABjRhjM0X3Yae4bH7Hu6tww?rlkey=0d0b9asqhg3w1ru5you9tqcbn&dl=0
  IAA_star:
    jet_R: [0.2, 0.5]
    eta_cut_R: 1.0
    pt: [5., 20.]
    centrality: [[0,15]]
    gamma_eta_cut: 1.0
    trigger_range: [15., 20.]
    xtitle: '#it{p}_{T} (GeV/#it{c})'
    logy: True

    ytitle_pp: 'I_{AA}'
    y_min_pp: 0.1
    y_max_pp: 1.2
    skip_pp: True

    hepdata: "TODO: see above link"

  # pmj 1/21/25: this observable is the ratio of two spectra with different R, so "jet_R:" has a different meaning.
  # maybe define a different field?
  R25_star:
    jet_R: [0.2, 0.5]
    eta_cut_R: 1.0
    pt: [5., 20.]
    centrality: [[0,15]]
    gamma_eta_cut: 1.0
    # pmj 1/23/25: per discussionn at today's STAT meeting, the experimental trigger selection is based on ET at the detector level, whereas
    # the simulation is based on ET at the particle level. The PRC Section 9 gives a matrix which maps between the two, effectively providing a weight
    # as a function of ET_part. Here I specify both the experimental window ("det" level) and the larger simulation window ("part" level) needed to cover 
    # it with the experimentally specified weighting
    trigger_range_det: [15., 20.]
    trigger_range_part: [12., 23.]
    xtitle: '#it{p}_{T} (GeV/#it{c})'
    logy: True

    hepdata: "TODO: see above link"

#------------------------------------------------------------------
# Jet correlation observables
semi_inclusive_pizero__gamma+jet_acoplanarity:

  # pmj 2/28/25 same analysis framework as above PRL (https://inspirehep.net/literature/2693040) and PRC (https://inspirehep.net/literature/2693062)
  # Note unusual centrality bin [0,15]; can use [0,10] for this simulation if [0,15] is difficult to accomodate

  # pmj 2/28/25: WIP, paper not yet posted to arXiv
  IAA_star:
    jet_R: [0.2, 0.5]
    eta_cut_R: [0.8, 0.5] # equivalent to 1-R
    ptjet: [10., 20.]
    centrality: [[0,15]]
    pizero_eta_cut: 1.0
    gamma_eta_cut: 1.0
    trigger_range: [11., 15.]
    xtitle: '#it{p}_{T} (GeV/#it{c})'
    logy: True

    ytitle_pp: 'I_{AA}(#Delta#varphi)'
    y_min_pp: 1.e-2
    y_max_pp: 50.
    skip_pp: True

    bins:
    bin_centroid: {1.9,2.35,2.65,2.9,3.07}
    bin_width: {0.3,0.15,0.15,0.1,0.07}

